/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 6px;
}
*::-webkit-scrollbar-track {
    background: var(--scroll-bg);
}
*::-webkit-scrollbar-thumb {
    background-color: var(--scroll-color);
    border-radius: 20px;
}
* {
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-color) var(--scroll-bg);
}

body{
    background-color:#5B8FF5;
}
.awesomplete .input-with-feedback {
    border: 1px solid grey;
    background-color:white;
    color:black;
    
}
.form-control {
    border: 1px solid grey;
    background-color:white;
    color:black;
}
.like-disabled-input {
    border: 1px solid grey;
    background-color:lightgrey;
    color:black;
}

.search-bar .awesomplete input {
    background-color: var(--bg-color)
}
.modal-backdrop{
    background-color: #2c436b !important;
}
.widget .widget-head .widget-title {
    font-size: var(--text-base);
    color:black;
}

.link-content {
    color:black;
}

.sidebar-item-label {
    color:black;
}

.comment-box .comment-input-header, .form-dashboard-section .section-head, .form-section .section-head, .head-title {
    font-size: var(--text-base);
    font-weight: 600;
    color:black;
}
.comment-box .comment-input-container .ql-editor {
    border: 1px solid var(--border-color);
}
.duration-picker .duration-input {
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
}
.control-label {
    font-weight: 500;
    color:black;
}

.page-card {
    display: none !important;
    background-color: black;
}

.layout-side-section .sidebar-label {
    color: white;
}


[data-theme="dark"] {
    --bg-color: var(--gray-900);
    --disabled-control-bg: var(--gray-900);
    --border-color: #1c2126;
    --margin-lg : 15px;
    --text-bold: 600;
    --scroll-bg: #161a1f;
    --scroll-color: #1c2126;
}

[data-theme="light"] {
    --bg-color: #5B8FF5;
    --text-bold: 600;
    --control-bg-on-gray:white;
    --disabled-control-bg: #5B8FF5;
    --heading-color: black;
    --border-color:#f2f2f2;
    --avatar-frame-bg: #5B8FF5;
    --margin-lg: 15px;
    --sidebar-select-color: #d9d9d9;
    --awesomplete-hover-bg: #5B8FF5;
    --scroll-bg: white;
    --scroll-color: gray;
}